# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/src/assets/.gitkeep
/.angular-cli.json
/e2e/app.e2e-spec.ts
/tsconfig.json
/src/main.ts
/package-lock.json
/src/typings.d.ts
/karma.conf.js
/protractor.conf.js
/src/test.ts
/src/tsconfig.app.json
/e2e/tsconfig.e2e.json
/tslint.json
/src/environments/environment.ts
/e2e/app.po.ts
/src/environments/environment.prod.ts
/src/polyfills.ts
/src/tsconfig.spec.json
/.editorconfig
